html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  padding: 4px 16px;
  font-size: 1.2rem;
  border-radius: 0;
}

input[type='text'],
input[type='password'],
.form-select {
  padding: 2px;
  border-radius: 0;
}

.invalid-feedback {
  font-size: 1rem;
}

.page-item > .page-link {
  padding: 8px 16px;
  color: var(--bs-red);
}

.page-item.active > .page-link {
  padding: 8px 16px;
  color: var(--bs-white);
  background-color: var(--bs-red);
  border-color: var(--bs-red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.required::before {
  color: red;
  content: '*';
  padding-right: 2px;
}

.custom-file-button input[type='file'] {
  margin-left: -2px !important;
}

.custom-file-button input[type='file']::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type='file']::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.arrow-right:before {
  content: '';
  position: absolute;
  right: -11px;
  top: 4px;
  transform: rotate(45deg);
  border-width: 11px;
  border-color: var(--bs-light);
  border-style: solid;
  z-index: 2;
}

.arrow-right.bg-info:before {
  content: '';
  position: absolute;
  right: -11px;
  top: 4px;
  transform: rotate(45deg);
  border-width: 11px;
  border-color: var(--bs-info);
  border-style: solid;
  z-index: 2;
}

.product-name,
.product-description {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}
